* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* CSS HOMEPAGE */

/* switch settings 👇 */

.ui-switch {
    /* switch */
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(232, 89, 15);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
    position: fixed;
    margin: 1rem;
}


.ui-switch input {
    display: none;

}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
}

.slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    ;
}

.slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
    background-color: rgb(0, 56, 146);
}

.ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
}

label {
    margin: 0.2rem;
}

.menu {
    width: 40%;
    background-color: #EDFBFD;
    transition: ease-in-out 0.5s;
}

body {
    background-color: #1F242B;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #66CAC5;
    transition: ease-in-out 0.5s;
}

a {
    text-decoration: 0;
    color: #388581;
    background-color: transparent;
    float: right;
    margin: 1rem;
}

.rigth {
    background-color: #EDFBFD;
    float: right;
    /* border: solid; */
    height: 104vh;
    width: 40%;
    transition: ease-in-out 0.5s;
}

.principal {
    background-color: #66CAC5;
    width: 60%;
    height: 107vh;
    transition: ease-in-out 0.5s;
    /* border: solid; */
}

.dark header {
    background-color: #1F242B;
}

.dark .principal {
    background-color: #1F242B;
}

.dark .rigth {
    background-color: #37C67E;
}

.dark .menu {
    background-color: #37C67E;
}

.homePage {
    display: flex;
    height: 70vh;
}

.apresentacao {
    margin: 25%;
    width: 70%;
}

.saudacao {
    color: #1F242B;
    font-size: 1.5em;
}

.nome {
    color: #fff;
    font-size: 4rem;
}

.sobrenome {
    color: #1F242B;
    font-size: 4rem;
}

.dark .sobrenome {
    color: #37C67E;
}

.dark .saudacao {
    color: #37C67E;
}

.devWeb {
    border: solid 1px #EDFBFD;
    width: 30%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: ease-in-out 0.1s;
    margin: 2rem 1.5rem;
}

.devWeb p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    height: 5vh;
    width: 100%;

}

.seta {
    background-color: #EDFBFD;
    width: 20%;
    height: 5vh;
    justify-content: center;
    display: flex;
}

.seta svg {
    width: 60%;
    fill: #1F242B;
}

.devWeb:hover {
    background-color: #EDFBFD;
}

.dark .devWeb {
    border: solid 1px #37C67E;

}

.dark .seta {
    background-color: #37C67E;
}

.dark .devWeb p {
    color: #37C67E;
}

.dark .devWeb :hover {
    background-color: #37C67E;
    color: #1F242B;
}


/* Css parte de skills*/

.skills {
    width: 100%;
    margin-top: 19rem;
    background-color: #66CAC5;
    height: 120vh;

}

.dark .skills {
    background-color: #1F242B;
}

.skills h3 {
    color: white;
    margin: 0 4rem;
    font-size: 3em;
}

.frontEnd {
    display: flex;
}

.habilidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 252px;
    height: 232px;
    margin: 4rem;
}

.habilidade h4 {
    width: 232px;
    text-align: center;
    color: white;
    margin: 1rem;
    font-size: 2em;
    transition: ease-in-out 0.s;
}

.dark .habilidade h4 {
    color: #37C67E;
}

.habilidade img {
    width: 12rem;
}

.backFront {
    color: #EDFBFD;
    font-size: 3em;
    margin: 0.5rem 6rem;
}

.backEnd {
    float: right;
    margin-right: 10rem;


}

.skillsBack {
    display: flex;
    justify-content: space-between;
}

.dark .backFront {
    color: #37C67E;
}

.dark .skills h3 {
    color: #37C67E;
}

a[href="#skills"] {
    transition: 0.5s ease-in-out;
}

#skills {
    transition: 0.5s ease-in-out;
}

::-webkit-scrollbar {
    width: 0px;
    /* Largura da barra de rolagem */
}

html {
    scroll-behavior: smooth;
}

/* Css tela de projetos */
.projetos {
    height: 170vh;
    background-color: #66CAC5;
    border: solid #66CAC5;
    transition: ease-in-out 0.5s;

}

.dark .projetos {
    background-color: #1F242B;
    border: solid #1F242B;
}

.titulo {
    margin: 4%;
}

.titulo h1 {
    font-size: 4em;
    color: white;
    margin: 0.5em 0;
}

.projeto {
    height: 30vh;
    margin: 1rem 0;
}

.projeto .preview {
    border: solid;
    height: 30vh;
    width: 20%;
    margin: 1% 2%;
}

.dark .titulo h1 {
    color: #37C67E;
    transition: ease-in-out 0.5s;
}

/* Tela de contato */

.contato {
    height: 70vh;
    width: 100%;
    background-color: #66CAC5;
    transition: ease-in-out 0.5s;
}

form {
    width: 100%;
    height: 40vh;
    padding: 1rem;
}

.contate-me {
    border: solid #EDFBFD 1px;
    width: 29%;
    margin: 0 35%;
}

form input {
    outline: none;
    border: none;
    width: 40%;
    height: 5vh;
    border-radius: 10px;
    padding-left: 2%;
}

form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;

}

.contato h3 {
    color: #00ffc8;
    font-weight: bold;
    font-size: 2.5em;
    margin: 0 25%;
}

.dark .contato h3 {
    color: #37C67E;
}

.dark input,
.dark textarea {
    background-color: #36404e;
}

.dark .submit {
    background-color: #37C67E;
}

.dark .submit {
    background-color: #02d169;
}

.contato h4 {
    width: 100%;
    margin: 0.5% 0.7%;
    color: #fff;

}

.dark .contato {
    background-color: #1F242B;
}

.mensagem {
    width: 100%;
    height: 15vh;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 2%;
    resize: none;
}

.submit {
    margin-left: 25%;
    background-color: #00ffc8;
    transition: ease-in-out 0.5s;
}

.submit:hover {
    background-color: #37ffd4;
    transform: scale(1.1);
}

footer {
    height: 40vh;
    background-color: #66CAC5;
    display: flex;
    flex-direction: column;
    transition: ease-in-out 0.5s;
}

footer a {
    margin-top: 7%;
    font-size: 1em;
    /* border: solid; */
    text-align: center;
}

footer div {
    width: 10%;
    display: flex;
    text-align: center;
    margin: 1em 43%;
}

footer div img {
    width: 3em;
    height: 3em;
}

footer h1 {
    text-align: center;
    margin: 2rem;
}

.dark footer {
    background-color: #1F242B;
}

.dark footer h1,
.dark footer a {
    color: #37C67E;
}



@media (max-width: 1629px) {
    .devWeb {
        width: 35%;
    }
}

@media (max-width: 1521px) {
    .habilidade {
        width: 12%;
    }

    .backEnd {
        margin-right: 8rem;
        width: 43rem;
        /* border: solid; */
    }
}

@media (max-width: 1329px) {
    .devWeb {
        width: 42%;
    }
}

@media (max-width: 1107px) {
    .devWeb {
        width: 45%;
    }
}

@media (max-width: 1034px) {
    .devWeb {
        width: 50%;
        font-size: 0.9em;
        text-align: center;
        height: 4vh;
    }

    .seta {
        height: 4vh;
    }
}

@media (max-width: 968px) {

    .habilidade img {
        width: 100%;
    }
    .habilidade h4{
        font-size: 1em;
        border: solid;
        width: 100%
    }
    .devWeb{
        font-size: 0.7em;
    }
}

@media (max-width: 926px) {
    .devWeb {
        width: 60%;
    }
}

@media (max-width: 888px) {
    .devWeb {
        width: 65%;
        text-align: center;
    }
}

@media (max-width: 863px) {
    .devWeb {
        width: 65%;
        text-align: center;
    }
}
.preview img{
    width: 100%;
}